<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

    <menu opened="true" id="application" title="msg://com.company.staffservice/menu.application.title">
        <item view="staff_Staff.list" title="msg://com.company.staffservice.view.staff/staffListView.title"/>
        <item view="staff_Position.list" title="msg://com.company.staffservice.view.position/positionListView.title"/>
        <item view="staff_EmployeeStatus.list"
              title="msg://com.company.staffservice.view.employeestatus/employeeStatusListView.title"/>
        <item view="staff_Department.list"
              title="msg://com.company.staffservice.view.department/departmentListView.title"/>
    </menu>
    <menu id="administrator" title="msg://com.company.staffservice/menu.administrator.title">
        <item view="staff_User.list" title="msg://com.company.staffservice.view.user/UserListView.title"/>
        <menu id="security" title="msg://com.company.staffservice/menu.security.title">
            <item view="sec_ResourceRoleModel.list"
                  title="msg://io.jmix.securityflowui.view.resourcerole/resourceRoleModelListView.menu"/>
            <item view="sec_RowLevelRoleModel.list"
                  title="msg://io.jmix.securityflowui.view.rowlevelrole/rowLevelRoleModelListView.menu"/>
        </menu>
        <menu id="audit" title="msg://com.company.staffservice/menu.audit.title">
            <item view="entityLog.view" title="msg://io.jmix.auditflowui.view.entitylog/entityLogView.menu"/>
            <item view="userSession.view" title="msg://io.jmix.auditflowui.view.entitylog/UserSessionsView.menu"/>
        </menu>
        <menu id="datatools" title="msg://com.company.staffservice/menu.datatools.title">
            <item view="datatl_entityInspectorListView"
                  title="msg://io.jmix.datatoolsflowui.view.entityinspector/listTitle"/>
        </menu>
    </menu>
    <menu id="reports" title="msg://io.jmix.reportsflowui/menu.reports.title">
        <item view="report_Report.list" title="msg://io.jmix.reportsflowui/reportListView.menu"/>
        <item view="report_ReportGroup.list" title="msg://io.jmix.reportsflowui/reportGroupListView.menu"/>
        <item view="report_ReportRunView" title="msg://io.jmix.reportsflowui/reportRunView.menu"/>
        <item view="report_ReportTableView" title="msg://io.jmix.reportsflowui/reportTableView.menu"/>
    </menu>
</menu-config>