<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">
    <menu opened="true" id="application" title="msg://com.company.kindergartenservice/menu.application.title">
        <item view="kind_Child.list" title="msg://com.company.kindergartenservice.view.child/childListView.title"/>
        <item view="kind_Group.list" title="msg://com.company.kindergartenservice.view.group/groupListView.title"/>
        <item view="kind_Parent.list" title="msg://com.company.kindergartenservice.view.parent/parentListView.title"/>
    </menu>
</menu-config>